
@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<RatiusCommunityApp.Models.Member>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_communityLayout.cshtml";
}

@section NavbarAndSideMenu{

    @{ Html.RenderAction("_CommunityAdminNavbarAndSideMenu"); }
}
@*<script type="text/javascript">

    $(function () {
       
        $('#UserTable').DataTable({
            "columnDefs": [{
                "defaultContent": "-",
                "targets": "_all"
            }],
            "iDisplayLength": 15,
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
<style>
    .dataTables_paginate {
        margin-left: auto;
        margin-right: auto;
        margin: auto;
        width: 30%;
        /* border: 3px solid #73AD21; */
        padding: 10px;
    }

    .dataTables_info {
        display: none !important;
    }
</style>*@
<style>
    .popover-title {
        display: none;
    }

    #profileName {
            font-weight: normal;
    }

    #profileAddress {
           font-weight: normal;
    }

    #profileNo {
            font-weight: normal;
    }

    .popover {
        /*width: 300px;
        height: 300px;*/
        width: 200px;
        height: auto;
    }
</style>
<script>
    
    //$(document).ready(function () {

    //    var image = '<div class="profilePopover" style=""><center><div class="profilepic" style="margin-top:2%;width:120px;height:120px;border-radius:60px;border:2px solid #ebebeb;"><img src="" width:100% height:100%;/></div></center>'
    //          + '<center><label id="profileName" style="font-family:Roboto-Regular;font-size:18px;margin-top:1%;">Taylor Phillipi</label><br></center>' +
    //          '<center><label id="profileOwner" style="font-family:Roboto-Light;font-size:14px;;margin-top:6%;">Owner</label><br></center>' +
    //          '<center><label id="profileEmail" style="font-family:Roboto-Light;font-size:14px;margin-top:2%;">Email ID</label><br></center>' +
    //          '<center><label id="profileNo"  style="font-family:Roboto-Light;font-size:14px;margin-top:2%;">Mobile Number</label><br>' +
    //          '<center><label id="profileAddress"  style="font-family:Roboto-Light;font-size:14px;margin-top:2%;margin-bottom:2%;">Address</label><br></center>' +
    //          '</div> ';
    //    $('.profileLink').popover({ placement: 'right', content: image, html: true });
       
    //});

    function showUserDetail(id, userImage, name, userType, emailID, contact, address) {


        var image = '<div class="profilePopover" style=""><center><div class="profilepic" style="margin-top:2%;width:100px;height:100px;border-radius:60px;"><img src=' + userImage + ' style="object-fit: cover;width: 100px;    height: 100px;" class="img-circle" /></div></center>'
     + '<center><label id="profileName" style="font-family:Roboto-Regular;font-size:16px;margin-top:5%;">' + name + '</label><br></center>' +
     //'<center><label id="profileOwner" style="font-family:Roboto-Light;font-size:14px;;margin-top:6%;">' + userType + '</label><br></center>' +
     //'<center><label id="profileEmail" style="font-family:Roboto-Light;font-size:14px;margin-top:2%;">' + emailID + '</label><br></center>' +
     '<center><label id="profileAddress"  style="font-family:Roboto-Light;font-size:14px;margin-top:2%;margin-bottom:-1%;">' + address + '</label><br></center>' +
     '<center><label id="profileNo"  style="font-family:Roboto-Light;font-size:14px;margin-top:-1%;">' + contact + '</label><br>' +
     '</div> ';
        $('#profileLink'+id).popover({ placement: 'right', content: image, html: true });
    }

    function initializeUserDetail(id, userImage, name, userType, emailID, contact, address) {

        var image = '<div class="profilePopover" style=""><center><div class="profilepic" style="margin-top:2%;width:100px;height:100px;border-radius:60px;"><img src=' + userImage + ' style="object-fit: cover;width: 100px;    height: 100px;" class="img-circle" /></div></center>'
     + '<center><label id="profileName" style="font-family:Roboto-Regular;font-size:16px;margin-top:5%;">' + name + '</label><br></center>' +
     //'<center><label id="profileOwner" style="font-family:Roboto-Light;font-size:14px;;margin-top:6%;">' + userType + '</label><br></center>' +
     //'<center><label id="profileEmail" style="font-family:Roboto-Light;font-size:14px;margin-top:2%;">' + emailID + '</label><br></center>' +
     '<center><label id="profileAddress"  style="font-family:Roboto-Light;font-size:14px;margin-top:2%;margin-bottom:-1%;">' + address + '</label><br></center>' +
     '<center><label id="profileNo"  style="font-family:Roboto-Light;font-size:14px;margin-top:-1%;">' + contact + '</label><br>' +
     '</div> ';
        $('#profileLink' + id).popover({ placement: 'right', content: image, html: true }).prop("");
    } 

    $('[data-toggle="popover"]').popover();

    $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });

</script>

<div >
    <div class="row">

        <div class="col-md-2 pull-left">
            <h1 style=" font-family:Roboto-Light;    font-size: 24px;color:#1d486a">
                Users
            </h1>
        </div>
    </div>
    <br />
@if (Model.Count != 0)
    {
    <div class="">
        <table id="UserTable" class=" table table-bordered" style="text-align:center;margin-top:-1px">
            <thead>
                <tr id="head1" style="background-color:#1d486a;border-color:#1d486a;color:#fff">
                    @*<th style="font-family:Roboto-Light;border-right-color: #1d486a;"><center>No</center></th>*@
                    <th style="font-family:Roboto-Light;    border-left-color: #1d486a;border-right-color: #1d486a;text-transform:none"><center>User</center></th>
                    <th style="font-family:Roboto-Light;border-right-color: #1d486a;text-transform:none"><center>Address</center></th>
                    <th style="font-family:Roboto-Light;border-right-color: #1d486a;text-transform:none"><center>Contact</center></th>
                    <th style="font-family:Roboto-Light;border-right-color: #1d486a;text-transform:none"><center>E-Mail</center></th>
                    <th style=" width: 130px;font-family:Roboto-Light;border-right-color: #1d486a;text-transform:none"><center>Status</center></th>
                    <th style=" width: 130px;font-family:Roboto-Light;border-right-color: #1d486a;text-transform:none"><center>Alerts</center></th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var item in Model)
                {


                    @*<tr id="row1" class="unexpand" style="background-color:#fff;">
                            <td>@item.userID</td>
                            <td>@item.user.firstName</td>
                            <td>@item.description</td>
                            <td>@item.complaintType.description</td>


                            @if (item.complaintStatusID != 2)
                            {
                                <td>
                                    <button id="@(item.complaintID+"_btnReceived")" onclick="click()" class="btn btn-xs btn-block" style="color:#ffffff; background-color:#1d486a">
                                        Recieved
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <button id="@(item.complaintID+"_btnReceived")" disabled class="btn btn-xs btn-block" style="color:#ffffff; background-color:#A4A0A0">
                                        Recieved
                                    </button>
                                </td>

                            }
                            @{int i = 0;}
                            @if (item.image1 != null)
                            {
                                i++;
                            }
                            @if (item.image2 != null)
                            {
                                i++;
                            }
                            @if (item.image3 != null)
                            {
                                i++;
                            }
                            <td>@i <i class="glyphicon glyphicon-paperclip"></i></td>
                            <td>@item.Date</td>
                            @if (item.complaintStatusID != 2)
                            {
                                <td id=@(item.complaintID + "Status")>Update</td>
                            }
                            else
                            {
                                <td id=@(item.complaintID + "Status")>Updated</td>
                            }

                        </tr>*@
                    <tr id="row" class="expand" style="background-color:#ffffff;">
                        @*<td style="font-family:Roboto-Light;">
                            @item.userId
                        </td>*@
                        <td style="font-family:Roboto-Light;">
                            <a style="cursor:pointer;" id="@("profileLink"+item.id)" class="profileLink" rel="popover" data-toggle="popover" data-content="" title="Popover with image" onmouseover="initializeUserDetail('@item.id', '@item.user.image', '@(item.user.firstName+" "+item.user.lastName)', '@item.user.userType', '@item.user.emailID', '@item.user.contact', '@(item.address+" , "+item.streetFloor)')" onclick="showUserDetail('@item.id','@item.user.image','@(item.user.firstName+" "+item.user.lastName)','@item.user.userType','@item.user.emailID','@item.user.contact','@(item.address+" , "+item.streetFloor)')">@item.user.firstName&nbsp;@item.user.lastName</a>

                        </td>
                        <td style="font-family:Roboto-Light;">
                            @(item.address + " : " + item.streetFloor)
                        </td>
                        <td style="font-family:Roboto-Light;">
                            @(item.user.contact)
                        </td>
                        <td style="font-family:Roboto-Light;">
                            @item.user.emailID
                        </td>
                        @if (item.isBlocked == true)
                        {
                            <td style="font-family:Roboto-Light;">
                                <button id="@(item.user.userID+"_Blocked_True")" onclick="BlockUser(this.id)" class="btn btn-xs btn-block" style="color:#ffffff; background-color:#EC0505">
                                    Blocked
                                </button>
                            </td>
                        }
                        else
                        {
                            <td style="font-family:Roboto-Light;">
                                <button id="@(item.user.userID+ "_UnBlock_False")" onclick="BlockUser(this.id)" class="btn btn-xs btn-block" style="color:#ffffff; background-color:#65B71D">
                                    Active
                                </button>
                            </td>

                        }

                        @if (item.isAlertBlocked == true)
                        {
                            <td style="font-family:Roboto-Light;">
                                <button id="@(item.user.userID+"_AlertBlocked_True")" onclick="AlertBlockUser(this.id)" class="btn btn-xs btn-block" style="color:#ffffff; background-color:#EC0505">
                                    Blocked
                                </button>
                            </td>
                        }
                        else
                        {
                            <td style="font-family:Roboto-Light;">
                                <button id="@(item.user.userID + "_AlertUnBlock_False")" onclick="AlertBlockUser(this.id)" class="btn btn-xs btn-block" style="color:#ffffff; background-color:#65B71D">
                                    Active
                                     
                                </button>
                            </td>

                        }

                    </tr>
                    @*<div class="modal fade" id=@("UserDialog_"+item.id) role="dialog">
                        <div class="modal-dialog modal-xs">
                            <div class="modal-content">
                                <div class="modal-header" id="header" style="background:#367fa9">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 style="margin-left:20px;color:white;margin-bottom:0px"><strong>User Details</strong></h4>
                                </div>
                                <center>
                                    <div class="modal-body" id="modal-style">
                                        <div class="row userModallabel"><div class="col-md-12"><img src="@item.user.image" alt="Image" id="sideBarImage" class="img-circle" style=" z-index: 5;height: 90px;width: 90px;border: 0.5px solid;border-color: rgba(63, 12, 12, 0.2);margin-left: -5px;"></div></div>
                                        <div class="row userModallabel"><div class="col-md-6">First Name</div><div class="col-md-6">@item.user.firstName</div></div>
                                        <div class="row userModallabel"><div class="col-md-6">Contact</div><div class="col-md-6">@item.user.contact</div></div>
                                        <div class="row userModallabel"><div class="col-md-6">EmailID</div><div class="col-md-6">@item.user.emailID</div></div>
                                        <div class="row userModallabel"><div class="col-md-6">Last Name</div><div class="col-md-6">@item.user.lastName</div></div>
                                        <div class="row userModallabel"><div class="col-md-6">Gender</div><div class="col-md-6">@item.user.gender</div></div>
                                        <div class="row userModallabel"><div class="col-md-6">Country</div><div class="col-md-6">@item.user.country</div></div>
                                        <div class="row userModallabel"><div class="col-md-6">Emergency Name 1</div><div class="col-md-6">@item.user.emergencyContactName1</div></div>
                                        <div class="row userModallabel"><div class="col-md-6">Emergency Contact 1</div><div class="col-md-6">@item.user.emergencyContactNumber1</div></div>
                                        <div class="row userModallabel"><div class="col-md-6">Emergency Name 2</div><div class="col-md-6">@item.user.emergencyContactName2</div></div>
                                        <div class="row userModallabel"><div class="col-md-6">Emergency Contact 2</div><div class="col-md-6">@item.user.emergencyContactNumber2</div></div>
                                        <div class="row userModallabel"><div class="col-md-6">Language</div><div class="col-md-6">@item.user.language</div></div>
                                    </div>
                                </center>

                            </div>
                        </div>
                    </div>*@
                }

            </tbody>
        </table>
    </div>
    <div class="row" align="center">
        @*<div class="col col-xs-4">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>*@
        <div class=" ">
            <ul class="pagination hidden-xs">
                @Html.PagedListPager(Model, page => Url.Action("Users", new { page }))
            </ul>
        </div>
    </div>
    }
    @if (Model.Count == 0)
    {
        <div id=unexpanded class="unexpanded" style="margin-top: -1%;">
            <div name="temp" class="row" style="padding-right:3%;padding-left:3%;">
                <br />
                <div style="background-color:#ffffff;height:auto" class="row">
                    <div class="col-md-4" style="margin-top:1.5%">

                    </div>
                    @*<div class="col-md-5" style="margin-top:1.5%">

                        </div>*@



                    <div class="col-md-7">
                        <h3 style="text-transform:none"> NO USER in COMMUNITY</h3>

                    </div>


                </div>
            </div>
        </div>
    }
</div>

@section mystyles{
    <style>
        .userModallabel {
            margin-top: 10px;
        }
    </style>
}
@section myscripts{
    <script type="text/javascript">
        function BlockUser(elem) {
            var id = elem.split("_")[0];
            var isBlocked = elem.split("_")[2];
            $.ajax({
                url: '@Url.Action("ChangeUserStatus", "Home")',
                type: 'POST',
                data: { "userID": id, "isBlocked": isBlocked },
                dataType: 'json',

                success: function (response) {
                    if (isBlocked == "True") {
                        $("#" + elem).css("background-color", "#65B71D");
                        $("#" + elem).text("Active");
                        $("#" + elem).attr("id", id + "_UnBlock_False");
                    }
                    else {
                        $("#" + elem).css("background-color", "#EC0505");
                        $("#" + elem).text("Blocked");
                        $("#" + elem).attr("id", id + "_Blocked_True");
                    }



                },
                error: function (error) {
                }
            });
        }






        function AlertBlockUser(elem) {
            var id = elem.split("_")[0];
            var isAlertBlocked = elem.split("_")[2];
            $.ajax({
                url: '@Url.Action("ChangeUserIsAlertblocked", "Home")',
                type: 'POST',
                data: { "userID": id, "isAlertBlocked": isAlertBlocked },
                dataType: 'json',

                success: function (response) {
                    if (isAlertBlocked == "True") {
                        $("#" + elem).css("background-color", "#65B71D");
                        $("#" + elem).text("Active");
                        $("#" + elem).attr("id", id + "_AlertBlocked_False");
                    }
                    else {
                        
                        $("#" + elem).css("background-color", "#EC0505");
                        $("#" + elem).text("Blocked");
                        $("#" + elem).attr("id", id + "_AlertBlocked_True");
                    }



                },
                error: function (error) {
                }
            });
        }






    </script>
    <script type="text/javascript">
    @*set  sidebar selected tab color*@
        $(document).ready(function () {
            $("#Community_Users").css("background-color", "#ffffff");
            $("#Users").css("color", "#000000");
        });
    </script>
}